body {
    background-image: url('https://media3.giphy.com/media/ejcoQeKAnFab6/giphy.gif?cid=ecf05e47bkzerldf068e9itl6ww1irgrj9esmo75mz10ixd8&rid=giphy.gif');
    background-position: center;
    background-repeat: no-repeat;
}
h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 52px;
    color: #FFC000;
}
.UsernameBox > input {
    position: absolute;
    height: 35px;
    width: 360px;
    margin: 15px;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.PasswordBox > input {
    position: absolute;
    height: 35px;
    width: 360px;
    margin: 15px;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div > .button {
    position: absolute;
    margin: 15px;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: wheat;
    background-color: #A9D18E;
    font-size: 23px;
}
div > button > a {
    color: wheat;
}